{
  "token": "N0t_45A_r34l_t0k3n", //put in ||**YOUR**|| user token. erase this once u put in your token
  "prefix": "%", //put your prefix and erase this too
  "password": "insert password" //for changing username and password
}